<div class="center padded">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Ahora o nunca! Trabajemos juntos :)</h1>
                <p>Daré mi mejor esfuerzo! para aprender, aportar valor y que tengamos una prospera relación a largo plazo</p>
            </div>
            <div id="contacto" class="right padded">
                <form class="contact-form" action="{{ url_for('mail') }}" method="POST">
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                    <input type="email" name="email" id="email" placeholder="Correo" required>
                    <textarea name="mensaje" id="mensaje" required minlength=10></textarea>
                    <button type="submit" class="btn full-width">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>