<div class="center padded white-bg" id="proyectos">
  <div class="content padded">
    <div class="padded">
      <h1>Mira los proyectos que he construido!</h1>
    </div>
    <div class="row">
      <div class="card third">
        <h3>TodoApp</h3>
        <p>
          Una aplicación creada en flask y con base de datos PostgreSQL en la
          cual tienes que autenticarte dentro de ella y podrás comenzar a agregar, eliminar y editar tus tareas.
        </p>
        <a class="yellow" href="https://flask-postgresql-tareas.onrender.com/login" target="_blank">Link aquí</a>
      </div>
      <div class="card third">
        <h3>TodoApp</h3>
        <p>
          Una aplicación creada en flask y con base de datos PostgreSQL en la
          cual puedes agregar, eliminar y editar tareas
        </p>
        <a class="yellow" href="">Link aquí</a>
      </div>
      <div class="card third">
        <h3>TodoApp</h3>
        <p>
          Una aplicación creada en flask y con base de datos PostgreSQL en la
          cual puedes agregar, eliminar y editar tareas
        </p>
        <a class="yellow" href="">Link aquí</a>
      </div>
    </div>
  </div>
</div>
