<div class="center">
  <div class="content">
    <div class="row vert-pad">
      <div class="left padded">
        <h1>Desarrollo con una gran pasión aplicaciones y sitios web para personas y empresas que deseen contratar mis servicios</h1>
        <p>Me considero un estudiante de la vida, ya que al igual que un día sin reir, un dia sin aprender algo nuevo es un día perdido.</p><p>Esta web la construí desde cero con Python y su microframework Flask. 
            Estoy ansioso por aprender aún más del desarrollo de software y el mundo de la programación!</p>
      </div>
      <div class="right padded">
        <h1>Podemos trabajar juntos o conversar sobre el tema que quieras!</h1>
        <p>Solo tienes que enviarme un correo <a class="yellow" href="#contacto">Pinchando aquí!</a></p>
      </div>
    </div>
  </div>
</div>
