<div class="center padded white-bg" id="proyectos">
  <div class="content padded">
    <div class="padded">
      <h1>Mira los proyectos que he construido!</h1>
    </div>
    <div class="row">
      <div class="card third">
        <h3>TodoApp</h3>
        <p>
          Una aplicación creada en flask y con base de datos PostgreSQL en la
          cual tienes que autenticarte dentro de ella y podrás comenzar a agregar, eliminar y editar tus tareas.
        </p>
        <a class="yellow" href="https://flask-postgresql-tareas.onrender.com/login" target="_blank">Link aquí</a>
      </div>
      <div class="card third">
        <h3>Rick and Morty React</h3>
        <p>
          Una aplicación de frontend creada con la libreria de React, en donde se consume una api de la serie animada Rick and Morty
        </p>
        <a class="yellow" href="https://germanastudillo1.github.io/rick-and-morty-react-api/">Link aquí</a>
      </div>
      <div class="card third">
        <h3>Procesador de imagenes</h3>
        <p>
          Una aplicación creada con Flask y Pillow, en la cual puedes ingresar imagenes para modificar el tamaño, brillo, contraste y saturación de la imagén. Además puedes incluirle filtros como blanco y negro o uno de desenfoque.
        </p>
        <a class="yellow" href="https://procesador-imagenes.onrender.com/">Link aquí</a>
      </div>
    </div>
  </div>
</div>
